body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
header{
    width: 100%;
    height: 10vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    transition: all 0s;
}
.logo{
    letter-spacing: 4px;
    margin-left: 100px;
    color:#000000;
}
#logo_name{
    float: right;
    position: relative;
    font-size: 14px;
    top: 9px;
    left:30px;
}
.navbar a{

    text-decoration: none;
    margin: 0 10px;
    color:#000000;
    font-size: 14px;
}
.navbar{
    margin-right: 100px;
}
.section-0{
    width: 100%;
    height: 400px;
    background-color: #f3f3f3;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-1{
    background-color: saddlebrown;
    display:flex;
    width:75vw;
    margin: auto;
}
.filter{
    box-sizing: border-box;
    width: 350px;
    background-color: white;
}
.products-container{
    box-sizing: border-box;
    padding: 0em 1em 1em 1em;
    width:100%;
    background-color: white;
}
.products{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(220px, 1fr));
/*     grid-auto-rows: 200px; */
    grid-gap:1em;
    margin-top: 1em;
}
.product-card{
    box-sizing: border-box;
    background-color: white;
    width:100%; 

}
.product-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
.product-card img{
    width: 100%; 
}
.subtitles h2{
    margin: 10px 0px;
}
.product-data{
    text-align: center;
    line-height: 0px;
}
.product-hover{
    position: absolute;
    width: 100%;
    height: 0px;
    bottom:0;
    background-color: rgba(255, 255, 255, 0.486);;
    text-align: center;
    transition: 0.5s;
    overflow: hidden;
}
.img1{
    position: relative;
}
.cart-box{
    position: relative; /* relative + obiect absolut = obiect absolut care se plimba in obiectul relativ */
    display: inline-block;
    left:5px;
    top:35px;
    right:5px;
    width: 35px;
    height: 35px;
    background-color: #927EC9;
}
.product-hover :hover{
    background-color: #6247AA;
    cursor: pointer;
}
.ceva0{
    background-color: teal;
}
.ceva1{
    background-color: blue;
}
.ceva2{
    background-color: green;
}
.ceva3{
    background-color: fuchsia;
}
.sorting{
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    padding:1em 0px 1em 0px;
}
.sorting-left{
    display: flex;
}
.sorting-right{
    display: flex;
}
.nextpage{
    margin-top: 1.5em;
    display: flex;
    justify-content: center;
    padding: 1em 0 1em 0;
}
.nextpage .nextitem{
    background-color: #f5f5f5;
    color: black;
    box-sizing: border-box;
    width: 2em;
    height: 2em;
    margin: 0 0.2em 0 0.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.filter-item1{
    background-color:#f5f5f5;
    padding-bottom: 1em;
}
.filter-item2{
    margin-top: 2em;
    background-color:#f5f5f5;
    padding-bottom: 2em;          
}
.title-filter{
    margin: 0 0 1em 0;
    box-sizing: border-box;
    background-color:black;
    color: white;
    padding: 1rem 0 1rem 0;
    text-align: center;
}
.radiobutton{
   margin: 0.8em 0 0.8em 2em;
}
.subtitle-filter{
    margin: 0.8em 0 0.8em 2em;   
}
.range input{
    width:80%;
}
.range{
    text-align:center;
    
}
.hr{
    width: 100%;
    height: 0.5px;
    background-color: black;
    margin:1em 0 1em 0;
}
footer{
    margin-top:300px;
    width: 100%;
    background-color: black;
}
.subscribe{
    width: 75vw;
    height: 400px;
    margin:0 auto;
    background-color: white;
    box-shadow: 0 2px 16px 0 rgba(0,0,0,0.2);
    text-align: center;
    position: relative;
    bottom: 200px;
}
.subscribe_content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.subscribe_content h1{
margin: 0;
}
.subscribe_content p{
margin-top:0px;
}
.subscribe_content #email{
width: 400px;
height: 35px;
border-radius: 20px;
border:solid 1px rgb(190, 184, 184);
}
.subscribe_content #submit{
    display: inline;
    border:none;
    box-sizing: border-box;
    width: 140px;
    height: 45px;
    padding-top:2px;
    text-align: center;
    font-size: 14px;
    border-radius: 30px;
    text-decoration: none;
    background-color:#6247AA;
    color:white;
    cursor: pointer;
    }
.copyright{
    position: relative;
    width: 100%;
    height: 8vh;
}
.footer-content{
    width: 75vw;
    margin-top: -120px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;  
    flex-direction: row;
    color: white;
}
.footer-content a{
    display: block;
    font-size: 14px;
}
.footer-content .item-1{
    flex-basis: 30%;
}
.footer-content .item-1 #ourstory{
    margin:0 0 24px 0 ; /* top right bottom left */
}
.footer-content .item-1 #ourstory2{
    margin: 0;
    width:90%; font-size: 14px; color:rgb(134, 133, 133);
}
.footer-content .item-2{
    flex-basis: 22%;

}
.footer-content .item-2 p{
    margin:0 0 24px 0 ; /* top right bottom left */
}
.footer-content .item-3{
    flex-basis: 22%;

}
.footer-content .item-3 p{
    margin:0 0 24px 0 ; /* top right bottom left */
}
.footer-content .item-4{
    flex-basis: 22%;

}
.footer-content .item-4 p{
    margin:0 0 24px 0 ; /* top right bottom left */
}
.footer-content a{
    margin:4px;
    color:rgb(134, 133, 133);
}
.hr2{
    width: 100%;
    height: 0.5px;
    background-color: white;
    margin:1em 0 0 0;
}
.cpyrght{
position: absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
color:white;
font-size: 14px;
}
@media screen and  (max-width: 800px){ /* micsoram la 2 */
    .logo{
        margin-left: 5vw;
    }
    .navlink{
        display: none;
    }
    .dropdown_mobile{
        position: absolute;
        top:3vh;
        right: 5vw;
        cursor: pointer;
    }
    .dropdown_mobile .bar{
        width: 25px;
        margin: 5px;
        height: 3px;
        background-color:black;
        display: block;
        transition:  0.5s;
    }
    .dropdown_mobile.active .bar:nth-child(2){  /* exista doar la click */
        opacity:0;
    }
    .dropdown_mobile.active .bar:nth-child(1){  /* exista doar la click */
        transform: translateY(8px) rotate(45deg);
    }
    .dropdown_mobile.active .bar:nth-child(3){  /* exista doar la click */
        transform: translateY(-8px) rotate(-45deg);
    }
    .headerr{ /* exista doar la click */
        width: 100%;
        height: 100vh;
        position:fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }
    .headerr .navlink{
        display: block;
    }
    .headerr .logo{

        position: absolute;
        top:18px;
        left: 0;
    }
    .headerr .navbar{
        margin: auto;
    
    }
    .headerr .navbar a{
        font-size: 24px;
        margin:20px;
    }
    .footer-content .item-1 {
        margin: 24px 0 24px 0;
        flex-basis: 100%;
    }
    .subscribe{
       height: 300px; 
    }
    .subscribe #email{
        width:300px;
        height: 25px;
    }
    .subscribe_content #submit{
        width: 110px;
        height: 35px;
        padding-top:1px;
        margin-top: 20px;
    }
    .subscribe_content p{
        font-size: 14px;
    }
}
@media screen and (max-width: 600px) {
    .section-1{
        flex-direction: column;
    }
    .filter{
        width: 100%;  
    }
    .products-container{
        padding: 0em 0em 1em 0em;
    }
    .sorting{
        display: flex;
        flex-direction: column;
        background-color: #f5f5f5;
        padding:1em 0px 1em 0px;       
    }
    .sorting-left{
        justify-content: center;
    }
    .sorting-right{
        justify-content: center;
    }
    .footer-content{
        flex-direction:column;
        text-align: center;
    }
    .footer-content{
        flex-direction: column;
    }
    .footer-content .item-1 #ourstory2{
        width: 100%;
    }
    .footer-content .item-1 {
        margin: 24px 0 24px 0;
    }
    .footer-content .item-2 {
        margin: 24px 0 24px 0;
    }
    .footer-content .item-3 {
        margin: 24px 0 24px 0;
    }
    .footer-content .item-4 {
        margin: 24px 0 24px 0;
    }
    .subscribe{
        height: 250px;
        bottom: 150px;
     }
     .subscribe #email{
         width:250px;
         height: 25px;
     }
     .subscribe_content #submit{
         width: 110px;
         height: 32px;
         padding-top:1px;
         margin-top: 15px;
     }
     .subscribe_content h1{
         font-size: 24px;
     }
}